# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# Logs
*.log

# Java
*.class

# Environment
.env

# Database
*.db
*.sql

# Temporary files
*.tmp
*.bak
*.old
*.swp

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Testcontainers
testcontainers.properties